{{new-product save="save" product=model}}

{{#each model as |product|}}
  <h3>{{product.title}}</h3>
  <img src="{{product.image}}" alt="{{product.title}}">
  {{edit-product update="update" product=product}}
{{/each}}
