<h2>{{model.title}}</h2>
<h3>{{model.description}}</h3>
<h4>${{model.cost}}</h4>
<img src="{{model.image}}" alt="{{model.title}}" /><br>

<button {{action 'addToCart' model}} class="btn btn-success">ADD TO <span class="glyphicon glyphicon-shopping-cart"></span></button>

<button {{action 'removeFromCart' model}} class="btn btn-danger">REMOVE FROM <span class="glyphicon glyphicon-shopping-cart"></span></button>

{{#link-to 'store'}}<button class="btn btn-info">BACK TO STORE</button>{{/link-to}}
